*
!DSA/
!ML/
!Programming/

DSA/*
!DSA/JupyterLab/
!DSA/JupyterLab/**

ML/*
!ML/JupyterLab/
!ML/JupyterLab/**
ML/JupyterLab/pytorch_tutorial/sentdex/resources/*

Programming/*
!Programming/JupyterLab/
!Programming/JupyterLab/**

*test*
*train*
*data*

!.gitignore
